<script defer src="/monitor.js"></script>

<div class="column">
<div>ИМЯ ПОЛЬЗОВАТЕЛЯ:{{user.name}}</div>
<div>EMAIL ПОЛЬЗОВАТЕЛЯ:{{user.email}}</div>
<div>ДАТА РЕГИСТРАЦИИ:{{user.createdAt}}</div>
</div>
