<script defer src='/signin.js'></script> {{!-- не показывает путь до файла, Альберт(32 года) сказал просто верить --}}
<script defer src="/monitor.js"></script>


<div class="form_group">
<form name='form' class='mt-5 align-center'>
  <div class="form_in">
    <div class="column">
      <label for="nameIn" class="mes_text">Email address</label>
      <input type="email" class="btn inp" id="nameIn" name="email">
      <div id="emailHelp" class="mes_text">We'll never share your email with anyone else.</div>

    <div class="column">
      <label for="pasIn" class="mes_text" >Password</label>
      <input type="password" class="btn inp" id="pasIn" name='password'>
    </div>
    <div class="column"><button type="submit" class="button">Войти</button></div>
  </div>
</form>
</div>
